<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>경로 상세 보기</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/faker/3.1.0/faker.min.js"></script>

</head>
<title>save</title>
<body>
<div class="container my-5">
    <h2>등록된 장소 상세 보기</h2>
    <form name="writeFrm">
        <input type="hidden" name="num" value="123"/>
        <!-- 공통 링크 -->

        <table class="table table-bordered border-primary">
            <tr>
                <td>번호</td>
                <td>1</td>
                <td>작성자</td>
                <td>류인태</td>
            </tr>
            <tr>
                <td>작성일</td>
                <td>2023-01-01</td>
                <td>대표 번호</td>
                <td>010-1234-4321</td>
            </tr>
            <tr>
                <td>장소 이름</td>
                <td colspan="3">판교 파미어스몰 육첩반상</td>
            </tr>
            <tr>
                <td>필수 카테고리1</td>
                <td>숙박/음식</td>
                <td>필수 카테고리2</td>
                <td>음식점</td>
            </tr>
            <tr>
                <td>선택 카테고리3</td>
                <td>일반 음식점</td>
                <td>선택 카테고리4</td>
                <td>한식</td>
            </tr>
            <tr>
                <td>주소/위치</td>
                <td>위도 37.420900636262054 경도 127.09022957797447</td>
            </tr>
            <tr>
                <td>내용</td>
                <td colspan="3" height="100">매일 반찬이 바뀌는 맛있는 밥집!</td>
            </tr>
            <tr>
                <td>이미지</td>
                <td colspan="3" height="100">
                    <img src="/img/m_jakub-kapusnak-4f4YZfDMLeU-unsplash.jpg" alt="Random Image">
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">

                    <button type="button" class="btn btn-primary mr-2">
                        수정하기
                    </button>

                    <button type="button" class="btn btn-danger mr-2">삭제하기</button>
                    <button type="button" class="btn btn-success">
                        홈으로 돌아가기
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
