<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>MAP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<!--지도 생성-->
<div th:id="map" class="map"></div>

<!--상단 내비 바-->
<div th:replace="~{/fragments/navbar :: layout_navBar}"></div>

<!--측면 사이드 바-->
<div th:replace="~{/fragments/sidebar :: layout_sideBar}"></div>


<!-- 공통 css -->
<th:block th:replace="common/css"></th:block>

<!-- 공통 js -->
<th:block th:replace="common/js"></th:block>
<div class="research">
    <button type="button" class="btn btn-success">현재 지도에서 검색</button>
</div>
</body>
</html>