<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.4.0/dist/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.4.0/ol.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css"
          type="text/css">
    <style>
        .map {
            height: 100%;
            width: 100%;
            border: 1px solid #ccc;
        }

        html, body {
            margin: 0;
            height: 100%;
        }

        .spacer {
            width: 10px;
            height: 10px;
            display: inline-block;
        }
    </style>


    <title>MAP</title>


</head>
<body>

<!--지도 생성-->
<div id="map" class="map">
</div>

<!--상단 고정 바-->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">OJT 프로젝트</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </ul>
        </div>

        <button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling"
                aria-controls="offcanvasScrolling">내 정보
        </button>
        <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->
        <button class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#loginModal">로그인</button>
        <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->
        <button class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#signupModal">회원가입</button>
    </div>
</nav>

<!-- 사이드바 -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">회원정보</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>링크들이 들어올 자리입니다.</p>
    </div>
</div>


<!-- 로그인 Modal -->
<div class="container">
    <div class="modal fade" id="loginModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                    <h5 class="modal-title">
                        로그인
                    </h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <form action="#" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="email">이메일</label>
                            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control"
                                   id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password"
                                   class="form-control" id="password" name="password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">로그인</button>
                    </div>
                </form>
                <hr>
                <!-- 버튼 클릭 시 로그인 모달창 열기 -->
                <div style="text-align:center;">
                    <button class="btn btn-link" type="button" data-toggle="modal" data-target="#signupModal">
                        회원가입 하기
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 회원 가입 Modal -->
<div class="container">
    <div class="modal fade" id="signupModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        회원가입
                    </h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <form action="#" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">이름</label>
                            <input type="text" pattern="[A-Za-z가-힣]{2,}" class="form-control" id="name" name="name"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="age">나이</label>
                            <input type="text" pattern="^[0-9]+$" class="form-control" id="age" name="age" required>
                        </div>
                        <div class="form-group">
                            <label for="email">이메일</label>
                            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control"
                                   id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password"
                                   class="form-control" id="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호 확인</label>
                            <input type="password" class="form-control" id="password2" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">전화번호</label>
                            <input type="tel" class="form-control" id="phone" name="phone" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM({
                    url: 'https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png'
                })
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([128.4, 35.7]),
            zoom: 7
        })
    });

    // 모달창을 열기 위한 함수
    function openLogin() {
        document.getElementById("modal fade").style.display = "block";
    }
</script>

<!-- 부트스트랩 JavaScript 와 종속성 패키지(JQuery, popper.js) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>