<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>MAP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<!--지도 생성-->
<div th:id="map" class="map"></div>
<div th:id="popup">
    <div th:id="popup-content"></div>
</div>
<!--상단 내비 바-->
<div th:replace="~{/fragments/navbar :: layout_navBar}"></div>

<!--측면 사이드 바-->
<div th:replace="~{/fragments/sidebar :: layout_sideBar}"></div>


<!-- 공통 css -->
<th:block th:replace="common/css"></th:block>

<!-- 공통 js -->
<th:block th:replace="common/js"></th:block>
<!-- 토글 버튼 추가 -->


<div class="collapse" id="category_search_toggle">
    <div class="category_search">
        <div class="form-group">
            <label for="lclascd" id="lclascd-label">대분류:</label>
            <select class="form-select" id="lclascd">
                <option selected disabled>대분류명을 선택하세요</option>
            </select>
        </div>
        <div class="form-group">
            <label for="mlsfccd" id="mlsfccd-label">중분류:</label>
            <select class="form-select" id="mlsfccd"></select>
        </div>
        <div class="form-group">
            <label for="sclascd" id="sclascd-label">소분류:</label>
            <select class="form-select" id="sclascd"></select>
        </div>
        <div class="form-group">
            <label for="dclascd" id="dclascd-label">상세 분류:</label>
            <select class="form-select" id="dclascd"></select>
        </div>
        <div class="form-group">
            <label for="bclascd" id="bclascd-label">브랜드 분류:</label>
            <select class="form-select" id="bclascd"></select>
        </div>
    </div>
</div>


<div class="research">
    <button type="button" class="btn btn-success">현재 지도에서 검색</button>
</div>

<script>
    $(document).ready(function () {
        // 초기에 대분류 목록을 불러옵니다.
        loadLCLASCD_main();
        $('#lclascd').change(function () {
            loadMLSFCCD_main($(this).val());
        });
        $('#mlsfccd').change(function () {
            loadSCLASCD_main($('#lclascd').val(), $(this).val());
        });
        $('#sclascd').change(function () {
            loadDCLASCD_main($('#lclascd').val(), $('#mlsfccd').val(), $(this).val());
        });
        $('#dclascd').change(function () {
            loadBCLASCD_main($('#lclascd').val(), $('#mlsfccd').val(), $('#sclascd').val(), $(this).val());
        });
    });

    function loadLCLASCD_main() {
        $.ajax({
            type: "GET",
            url: "/findDataByLCLASCD",
            success: function (response) {
                $('#mlsfccd').empty().append('<option selected disabled>중분류명을 선택하세요</option>');
                $('#sclascd').empty().append('<option selected disabled>소분류명을 선택하세요</option>');
                $('#dclascd').empty().append('<option selected disabled>상세 분류명을 선택하세요</option>');
                $('#bclascd').empty().append('<option selected disabled>브랜드 분류명을 선택하세요</option>');
                for (let i = 0; i < response.length; i++) {
                    $("#lclascd").append(`<option value="${response[i].lclascd}">${response[i].lclasdc}</option>`);
                }
            },
            error: function () {
                $('#lclascd').append('<option value="error">데이터 로드에 실패했습니다.</option>');
            }
        });
    }

    function loadMLSFCCD_main(lclascdValue) {
        $.ajax({
            type: "GET",
            url: "/findDataByLCLASCDAndMLSFCCD",
            data: {lclascd: lclascdValue},
            success: function (response) {
                // $('#mlsfccd').append(<option selected disabled>중분류명을 선택하세요</option>)

                // 성공시 하위 셀렉트 비우기
                $('#mlsfccd').empty().append('<option selected disabled>중분류명을 선택하세요</option>');

                $('#sclascd').empty().append('<option selected disabled>소분류명을 선택하세요</option>');

                $('#dclascd').empty().append('<option selected disabled>상세 분류명을 선택하세요</option>');

                $('#bclascd').empty().append('<option selected disabled>브랜드 분류명을 선택하세요</option>');
                for (let i = 0; i < response.length; i++) {
                    $("#mlsfccd").append(`<option value="${response[i].mlsfccd}">${response[i].mlsfcdc}</option>`);
                }
            },
            error: function () {
                $('#mlsfccd').append('<option value="error">데이터 로드에 실패했습니다.</option>');
            }
        });
    }

    function loadSCLASCD_main(lclascdValue, mlsfccdValue) {
        $.ajax({
            type: "GET",
            url: "/findByMLSFCCDAndSCLASCD",
            data: {
                lclascd: lclascdValue,
                mlsfccd: mlsfccdValue
            },
            success: function (response) {
                $('#sclascd').empty().append('<option selected disabled>소분류명을 선택하세요</option>');

                $('#dclascd').empty().append('<option selected disabled>상세 분류명을 선택하세요</option>');

                $('#bclascd').empty().append('<option selected disabled>브랜드 분류명을 선택하세요</option>');
                for (let i = 0; i < response.length; i++) {
                    $("#sclascd").append(`<option value="${response[i].sclascd}">${response[i].sclasdc}</option>`);
                }
            },
            error: function () {
                $('#sclascd').append('<option value="error">데이터 로드에 실패했습니다.</option>');
            }
        });
    }

    function loadDCLASCD_main(lclascdValue, mlsfccdValue, sclascdValue) {
        $.ajax({
            type: "GET",
            url: "/findBySCLASCDAndDCLASCD",
            data: {
                lclascd: lclascdValue,
                mlsfccd: mlsfccdValue,
                sclascd: sclascdValue
            },
            success: function (response) {
                $('#dclascd').empty().append('<option selected disabled>상세 분류명을 선택하세요</option>');

                $('#bclascd').empty().append('<option selected disabled>브랜드 분류명을 선택하세요</option>');
                for (let i = 0; i < response.length; i++) {
                    $("#dclascd").append(`<option value="${response[i].dclascd}">${response[i].dclasdc}</option>`);
                }
            },
            error: function () {
                $('#dclascd').append('<option value="error">데이터 로드에 실패했습니다.</option>');
            }
        });
    }

    function loadBCLASCD_main(lclascdValue, mlsfccdValue, sclascdValue, dclascdValue) {
        $.ajax({
            type: "GET",
            url: "/findByDCLASCDAndBCLASCD",
            data: {
                lclascd: lclascdValue,
                mlsfccd: mlsfccdValue,
                sclascd: sclascdValue,
                dclascd: dclascdValue
            },
            success: function (response) {
                $('#bclascd').empty().append('<option selected disabled>브랜드 분류명을 선택하세요</option>');
                for (let i = 0; i < response.length; i++) {
                    $("#bclascd").append(`<option value="${response[i].bclascd}">${response[i].bclasdc}</option>`);
                }
            },
            error: function () {
                $('#bclascd').append('<option value="error">데이터 로드에 실패했습니다.</option>');
            }
        });
    }

</script>
</body>
</html>