<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>js 집합</title>

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- OpenLayers JS file -->
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <!-- Bootstrap JS file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script>
        let map;
        let markerLayer;
        let searchMaker;
        let markerStyle;
        // showLPois 함수가 호출될 때 categoryMarkerSource를 생성하도록 전역 변수로 추가
        let categoryMarkerSource;
        let moveSource = new ol.source.Vector();
        let koreaExtent = [124.61, 33.06, 129, 38];

        // 현재 위치 표시
        let geoSource = new ol.source.Vector();

        let mapOverlay;
        let hover = null; //마우스 이벤트에 사용될 변수


        // 팝업 변수 선언
        let hover_container = $('#hover'); //팝업 컨테이너
        let hover_content = $('#hover-content'); //팝업 내용
        // 벡터 소스 생성
        let vectorsource = new ol.source.Vector();

        // 벡터 레이어 생성
        let vectorlayer = new ol.layer.Vector({
            source: vectorsource,
            style: new ol.style.Style({
                stroke: new ol.style.Stroke({
                    width: 2,
                    color: [0, 0, 255, 1]
                })
            })
        });

        function init() {
            mapOverlay = new ol.Overlay(({element: hover_container.get(0)})); //Overlay 생성, 요소는 컨테이너의 첫 번째 요소(Native DOM element)
            map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM(),
                    }),
                ],
                overlays: [mapOverlay],
                view: new ol.View({
                    extent: ol.proj.transformExtent(koreaExtent, 'EPSG:4326', 'EPSG:3857'),
                    zoom: 7,
                    maxZoom: 19,
                    minZoom: 9,
                }),
            });

            // 마커를 출력할 벡터 레이어 생성
            markerLayer = new ol.layer.Vector({
                source: new ol.source.Vector(),
            });

            // 마커 레이어를 지도에 추가
            map.addLayer(markerLayer);

            // 지도 이동 이벤트 리스너 등록
            map.on('moveend', onMoveEnd);

            // 마커 스타일 정의
            markerStyle = new ol.style.Style({
                image: new ol.style.Icon({
                    // 마커 앵커 포인트 설정 (이미지 기준 x: 50%, y: 100% 위치)
                    anchor: [0.5, 1],
                    // 마커 이미지(아이콘) URL
                    src: '/img/user_maker.png',
                }),
            });
            // 마커 스타일 정의
            searchMaker = new ol.style.Style({
                image: new ol.style.Icon({
                    // 마커 앵커 포인트 설정 (이미지 기준 x: 50%, y: 100% 위치)
                    anchor: [0.5, 1],
                    // 마커 이미지(아이콘) URL
                    src: '/img/search_maker.png',
                }),
            });


            if ('geolocation' in navigator) {
                // 현재 위치를 가져옴
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        // 가져온 경도, 위도 좌표를 OpenLayers 지도 좌표계로 변환
                        const coords = ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]);

                        // 현재 위치 좌표로 지점(포인트) 지오메트리를 가진 피처 생성
                        const geoMarkerFeature = new ol.Feature({
                            geometry: new ol.geom.Point(coords),
                        });

                        // 생성한 피처에 마커 스타일을 적용
                        geoMarkerFeature.setStyle(markerStyle);

                        geoSource.addFeature(geoMarkerFeature);

                        // 피처를 마커 레이어의 소스에 추가
                        markerLayer.setSource(geoSource);

                        // 지도 뷰를 현재 위치로 애니메이션 효과와 함께 이동시키고 줌 레벨을 조절
                        map.getView().animate({center: coords, zoom: 14});
                    },
                    // 현재 위치를 가져오는 데 실패한 경우 에러 처리
                    (error) => {
                        console.error('Error getting geolocation', error);
                    }
                );
            } else {
                alert('이 브라우저에서는 지오로케이션을 지원하지 않습니다.');
            }

            // 지도 클릭 시, 피처가 있는지 확인하고 팝업을 표시let hovering = null;
            let ajaxInProgress = false;
            let hovering = null;

            map.on('pointermove', (event) => {
                const coordinate = event.coordinate;

                if (map.hasFeatureAtPixel(event.pixel)) {
                    map.getTargetElement().style.cursor = 'pointer';
                } else {
                    map.getTargetElement().style.cursor = '';
                }

                let hover = null;

                map.forEachFeatureAtPixel(event.pixel, (feature) => {
                    hover = feature;
                    return true;
                });

                if (hover) {
                    if (!ajaxInProgress && hovering !== hover.values_.poi_num) {
                        ajaxInProgress = true; // AJAX 요청 시작

                        const url = `/poi/hover?id=${hover.values_.poi_num}`;
                        $.ajax({
                            url: url,
                            type: 'GET',
                            dataType: 'json',
                            success: (data) => {
                                const content = $("<div class='pointMaker'></div>").append(
                                    $("<div class='header-popup'></div>").text("간단 정보"),
                                    $("<div class='info'></div>").append(
                                        $("<p class='info-line'></p>").html("<span class='info-label'>장소명:</span> " + (data.poi_name || '값 없음')),
                                        $("<p class='info-line'></p>").html("<span class='info-label'>전화번호:</span> " + (data.tel_no || '값 없음'))
                                    )
                                );
                                hover_content.html(content);
                                mapOverlay.setPosition(coordinate);

                                ajaxInProgress = false; // AJAX 요청 완료
                                hovering = hover.values_.poi_num; // 마우스가 위치한 feature 저장
                            },
                            error: (error) => {
                                console.error('Error fetching data from API', error);
                                ajaxInProgress = false; // 에러 발생 시에도 AJAX 상태 업데이트
                            }
                        });
                    }
                } else {
                    mapOverlay.setPosition(undefined);
                    hovering = null; // 마우스가 feature 밖으로 나갔으므로 초기화
                }
            });

            map.on('singleclick', function (evt) {
                let ff = map.hasFeatureAtPixel(evt.pixel);

                if (ff === true && !ajaxInProgress) {
                    const url = `/poi/hover?id=${hovering}`;
                    $.ajax({
                        url: url,
                        type: 'GET',
                        dataType: 'json',
                        success: (data) => {
                            console.log("성공")
                            openPoiModal(data);
                            hovering = null; // 클릭 후 hovering 초기화
                        },
                        error: (error) => {
                            console.error('Error fetching data from API', error);
                        }
                    });
                }
            });
        }

        function getBottomLeft(extent) {
            return [extent[0], extent[1]];
        }

        function getTopRight(extent) {
            return [extent[2], extent[3]];
        }

        function getTopLeft(extent) {
            return [extent[0], extent[3]];
        }

        function getBottomRight(extent) {
            return [extent[2], extent[1]];
        }

        function onMoveEnd(evt) {
            let map = evt.map;
            let size = map.getSize();
            let extent = map.getView().calculateExtent(size);
            let bottomLeft = ol.proj.toLonLat(getBottomLeft(extent));
            let topRight = ol.proj.toLonLat(getTopRight(extent));
            let bottomRight = ol.proj.toLonLat(getBottomRight(extent));
            let topLeft = ol.proj.toLonLat(getTopLeft(extent));
            let box = new ol.Feature({
                geometry: new ol.geom.LineString(
                    [
                        bottomLeft, bottomRight, topRight, topLeft, bottomLeft
                    ]
                )
            });
            let current_projection = ol.proj.get('EPSG:4326');
            let new_projection = ol.proj.get('EPSG:3857');

            box.getGeometry().transform(current_projection, new_projection);
            vectorsource.addFeatures([box]);
            console.log("bottomLeft", bottomLeft);
            console.log("topRight", topRight);
            console.log("bottomRight", bottomRight);
            console.log("topLeft", topLeft);
        }

        // -------------------------------------------------------------------------
        let mapObj = null;


        /**
         * Elements that make up the popup.
         */
        let container = document.getElementById('popup');
        let content = document.getElementById('popup-content');
        let closer = document.getElementById('popup-closer');
        /**
         * Create an overlay to anchor the popup to the map.
         */
        let overlay = new ol.Overlay({
            element: container,
            autoPan: true,
            autoPanAnimation: {
                duration: 250
            }
        });

        /**
         * Add a click handler to hide the popup.
         * @return {boolean} Don't follow the href.
         */
        closer.onclick = function () {
            overlay.setPosition(undefined);
            closer.blur();
            return false;
        };

        function createMap() {
            let mapContainer = $("#map-container");
            // 동적으로 지도를 생성할 div 요소를 만들기
            let mapElem = $("<div>").css({
                width: "100%",
                height: "400px"
            });
            // 이전에 생성된 지도가 있다면 삭제
            if (mapObj) {
                mapObj.setTarget(null);
                mapObj = null;
                mapContainer.empty();

                // 팝업 내용을 초기화
                content.innerHTML = '';
                overlay.setPosition(undefined);
                closer.blur();
            }
            mapContainer.append(mapElem);
            mapObj = new ol.Map({
                target: mapElem[0],
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM(),
                    }),
                ],
                overlays: [overlay],
                view: new ol.View({
                    extent: ol.proj.transformExtent(koreaExtent, 'EPSG:4326', 'EPSG:3857'),
                    center: ol.proj.fromLonLat([126.985302, 37.566671]),
                    zoom: 7,
                    maxZoom: 19,
                    minZoom: 9,
                })
            });

            mapObj.on('singleclick', function (evt) {
                let coordinate = evt.coordinate;
                let lonLat = ol.proj.toLonLat(coordinate);

                // Nominatim API를 통해 클릭한 좌표의 주소 정보 가져오기
                let nominatimUrl = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lonLat[1]}&lon=${lonLat[0]}`;

                $.get(nominatimUrl, function (response) {
                    if (response.display_name) {
                        let addressParts = response.display_name.split(', ');

                        // 우편번호 및 '대한민국' 제외하고 주소 가공
                        let formattedAddress = addressParts.slice(1).filter(part => !part.match(/^\d+$/) && part !== '대한민국').reverse().join(', ');

                        // 클릭한 좌표의 경도와 위도 값을 폼 필드에 자동으로 채우기
                        $('#lon').val(lonLat[0]);
                        $('#lat').val(lonLat[1]);


                        // 주소와 우편번호 입력란에 값을 자동으로 채우기
                        $('#address').val(formattedAddress);
                        $('#zip_code').val(response.address.postcode);

                        content.innerHTML = '<p>Address:</p><code>' + formattedAddress + '</code>';
                        overlay.setPosition(coordinate);
                    }
                });
            });


        }

        <!-- 사이드바 안에서 엔터 키로 검색을 했을 때 화면에 값 넘기기 -->
        $(document).keydown(function (e) {
            if (e.target.id === 'searchInput' && e.keyCode === 13) {
                e.preventDefault();
                $('[data-bs-target="#placeName"]').click();
            }
        });

        // 자동으로 지워주는 jQuery
        $('#loginModal').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        });
        $('#signupModal').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        });
        $('#userModify').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        });
        $('#placeDelete').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })
        $('#placeRegister').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })
        $('#placeModify').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })
        // 모달이 완전히 열린 후에 지도 생성
        $("#placeRegister").on("shown.bs.modal", function () {
            createMap();
        });

        function showPois() {
            // AJAX 요청을 이용하여 서버로부터 POI 데이터를 비동기적으로 요청합니다.
            $.ajax({
                type: "GET", // HTTP GET 요청 메서드를 사용합니다.
                url: "/poi", // 요청할 URL 주소입니다.
                success: function (data) { // 성공적인 요청 시의 콜백 함수입니다.
                    let features = []; // 배열을 생성합니다.
                    // POI 데이터 배열에 대해 반복합니다.
                    data.forEach(function (poi) {
                        let feature = new ol.Feature({ // 새로운 Feature 객체를 만듭니다.
                            // POI의 좌표를 이용하여 새로운 Point 객체를 생성합니다.
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([poi.lon, poi.lat])),
                            // POI 이름을 갖는 속성 값을 추가합니다.
                            name: poi.poi_name,
                            id: poi.poi_num
                        });
                        features.push(feature); // 생성한 Feature 객체를 배열에 추가합니다.
                    });
                    addMarkersToMap(features); // addMarkersToMap 함수에 Feature 배열을 넘겨 마커를 추가합니다.
                },
                error: function (jqXHR, textStatus, errorThrown) { // 요청이 실패한 경우의 콜백 함수입니다.
                    console.error("Failed to load POIs: " + textStatus + " " + errorThrown);
                }
            });
        }

        // ================ 조인 함수 ==================
        function showLPois(lclascd) {
            $.ajax({
                type: "GET",
                url: "/getPoisByLclascd?lclascd=" + lclascd,
                success: function (data) {
                    let features = [];
                    // 현재 지도의 화면 영역
                    let mapViewExtent = map.getView().calculateExtent(map.getSize());
                    data.forEach(function (poi) {
                        // POI의 좌표를 OpenLayers 좌표로 변환
                        let lonLat = ol.proj.fromLonLat([poi.lon, poi.lat]);

                        // 현재 지도 화면 영역에 해당 좌표가 포함되는지 확인
                        if (ol.extent.containsCoordinate(mapViewExtent, lonLat)) {
                            let feature = new ol.Feature({
                                geometry: new ol.geom.Point(lonLat),
                                name: poi.poi_name,
                                poi_num: poi.poi_num
                            });
                            features.push(feature);
                        }
                    });

                    // 이전 마커들을 제거하기 위해 categoryMarkerSource의 clear() 호출
                    if (categoryMarkerSource) {
                        categoryMarkerSource.clear();
                    }
                    addMarkersToMap(features);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Failed to load POIs: " + textStatus + " " + errorThrown);
                }
            });
        }

        // 상위 showLPois 함수와 로직 주석 참고
        function showMPois(lclascd, mlsfccd) {
            $.ajax({
                type: "GET",
                url: "/getPoisByMlsfccd?lclascd=" + lclascd + "&mlsfccd=" + mlsfccd,
                success: function (data) {
                    let features = [];
                    let mapViewExtent = map.getView().calculateExtent(map.getSize());
                    data.forEach(function (poi) {
                        let lonLat = ol.proj.fromLonLat([poi.lon, poi.lat]);
                        // 현재 지도 화면 영역에 해당 좌표가 포함되는지 확인
                        if (ol.extent.containsCoordinate(mapViewExtent, lonLat)) {
                            let feature = new ol.Feature({
                                geometry: new ol.geom.Point(lonLat),
                                name: poi.poi_name,
                                poi_num: poi.poi_num
                            });
                            features.push(feature);
                        }
                    });
                    addMarkersToMap(features);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Failed to load POIs: " + textStatus + " " + errorThrown);
                }
            });
        }

        function showSPois(lclascd, mlsfccd, sclascd) {
            $.ajax({
                type: "GET",
                url: "/getPoisBySclascd?lclascd=" + lclascd + "&mlsfccd=" + mlsfccd + "&sclascd=" + sclascd,
                success: function (data) {
                    let features = [];
                    let mapViewExtent = map.getView().calculateExtent(map.getSize());
                    data.forEach(function (poi) {
                        let lonLat = ol.proj.fromLonLat([poi.lon, poi.lat]);
                        if (ol.extent.containsCoordinate(mapViewExtent, lonLat)) {
                            let feature = new ol.Feature({
                                geometry: new ol.geom.Point(lonLat),
                                name: poi.poi_name,
                                poi_num: poi.poi_num
                            });
                            features.push(feature);
                        }
                    });
                    addMarkersToMap(features);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Failed to load POIs: " + textStatus + " " + errorThrown);
                }
            });
        }

        function showDPois(lclascd, mlsfccd, sclascd, dclascd) {
            $.ajax({
                type: "GET",
                url: "/getPoisByDclascd?lclascd=" + lclascd + "&mlsfccd=" + mlsfccd + "&sclascd=" + sclascd + "&dclascd=" + dclascd,
                success: function (data) {
                    let features = [];
                    let mapViewExtent = map.getView().calculateExtent(map.getSize());
                    data.forEach(function (poi) {
                        let lonLat = ol.proj.fromLonLat([poi.lon, poi.lat]);
                        if (ol.extent.containsCoordinate(mapViewExtent, lonLat)) {
                            let feature = new ol.Feature({
                                geometry: new ol.geom.Point(lonLat),
                                name: poi.poi_name,
                                poi_num: poi.poi_num
                            });
                            features.push(feature);
                        }
                    });
                    addMarkersToMap(features);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Failed to load POIs: " + textStatus + " " + errorThrown);
                }
            });
        }

        function showBPois(lclascd, mlsfccd, sclascd, dclascd, bclascd) {
            $.ajax({
                type: "GET",
                url: "/getPoisByBclascd?lclascd=" + lclascd + "&mlsfccd=" + mlsfccd + "&sclascd=" + sclascd + "&dclascd=" + dclascd + "&bclascd=" + bclascd,
                success: function (data) {
                    let features = [];
                    let mapViewExtent = map.getView().calculateExtent(map.getSize());
                    data.forEach(function (poi) {
                        let lonLat = ol.proj.fromLonLat([poi.lon, poi.lat]);
                        if (ol.extent.containsCoordinate(mapViewExtent, lonLat)) {
                            let feature = new ol.Feature({
                                geometry: new ol.geom.Point(lonLat),
                                name: poi.poi_name,
                                poi_num: poi.poi_num
                            });
                            features.push(feature);
                        }
                    });
                    addMarkersToMap(features);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Failed to load POIs: " + textStatus + " " + errorThrown);
                }
            });
        }

        function clearMarkersFromMap() {
            // 마커 레이어가 있는지 확인하고 있으면 제거합니다.
            if (markerLayer) {
                map.removeLayer(markerLayer);
            }

            // 기존의 features 배열을 초기화합니다.
            features = [];

            // 마커 레이어를 새로 생성하지 않고 기존 레이어의 소스에 빈 feature 배열을 적용하여 마커를 지웁니다.
            if (markerSource) {
                markerSource.clear();
            }
        }


        function addMarkersToMap(features) {
            // 마커 스타일 설정
            let markerStyle = new ol.style.Style({
                image: new ol.style.Icon({
                    opacity: 1,
                    scale: 1.2,
                    src: 'http://map.vworld.kr/images/ol3/marker_blue.png'
                }),
                zindex: 10
            });


            // categoryMarkerSource 초기화 또는 새로 생성
            if (!categoryMarkerSource) {
                categoryMarkerSource = new ol.source.Vector();
            } else {
                categoryMarkerSource.clear();
            }
            if (moveSource) {
                moveSource.clear();
            }
            // features를 categoryMarkerSource에 추가
            features.forEach(function (feature) {
                categoryMarkerSource.addFeature(feature);
            });


            // 마커 레이어 생성
            markerLayer = new ol.layer.Vector({
                source: categoryMarkerSource,
                style: markerStyle
            });

            // 지도에 마커가 그려진 레이어 추가
            map.addLayer(markerLayer);
        }

        // ------------------------------------------------------------
        function searchPoi() {
            const searchTerm = $('#searchInput').val();
            // 값이 비어있을 때 모든 데이터가 출력되지 않기 위한 조건문
            if (!searchTerm.trim()) {
                return;
            }

            $.ajax({
                url: `/poi/search?name=${searchTerm}`,
                type: 'GET',
                success: function (data) {
                    const poiList = $('#poi-list');
                    poiList.empty();
                    $.each(data, function (index, poi) {
                        const itemContainer = $('<div>').addClass('poi-item');

                        const poiInfo = $('<span>').text(`${poi.poi_name} `);
                        itemContainer.append(poiInfo);

                        itemContainer.append(
                            $('<button>')
                                .addClass("btn btn-outline-warning btn-sm ms-2 ms-auto move-button")
                                .text('이동하기')
                                .on('click', function () {
                                    moveToPoi(poi);
                                })
                        );

                        const detailButton = $('<button>')
                            .text('상세보기')
                            .addClass('btn btn-sm btn-outline-info ms-2 move-button')
                            .click(function () {
                                openPoiModal(poi);
                            });
                        itemContainer.append(detailButton);

                        poiList.append(itemContainer);
                    });
                },
                error: function (error) {
                    console.error('Error fetching data from API', error);
                }
            });
        }


        // openPoiModal() 함수 추가
        function openPoiModal(poi) {
            const poiModalBody = $('#poiModalBody');
            poiModalBody.empty().append(
                $('<div class="row"></div>').append(
                    $('<div class="col-4 fw-bold"></div>').text('장소 이름'),
                    $('<div class="col-8"></div>').text(poi.poi_name)
                ),
                $('<div class="row"></div>').append(
                    $('<div class="col-4 fw-bold"></div>').text('위치'),
                    $('<div class="col-8"></div>').append(
                        $('<button class="btn btn-outline-warning btn-sm"></button>')
                            .text('로드뷰로 보기')
                            .on('click', function () {
                                moveToPoi(poi);
                            })
                    )
                ),
                $('<hr>'),
                $('<div class="row"></div>').append(
                    $('<h6></h6>').text('상세 정보'),
                    $('<div class="col-4 fw-bold"></div>').text('전화번호'),
                    $('<div class="col-8"></div>').text(poi.tel_no || '-'),
                    $('<div class="col-4 fw-bold"></div>').text('대분류'),
                    $('<div class="col-8"></div>').text(poi.iclas),
                    $('<div class="col-4 fw-bold"></div>').text('중분류'),
                    $('<div class="col-8"></div>').text(poi.mlsfc || '-'),
                    $('<div class="col-4 fw-bold"></div>').text('소분류'),
                    $('<div class="col-8"></div>').text(poi.sclas || '-'),
                    $('<div class="col-4 fw-bold"></div>').text('상세분류'),
                    $('<div class="col-8"></div>').text(poi.dclas || '-'),
                    $('<div class="col-4 fw-bold"></div>').text('설명'),
                    $('<div class="col-8"></div>').text(poi.memo || '-'),
                )
            );

            console.log(`Requesting image for poi_num: ${poi.poi_num}`); // 값 출력

            $.ajax({
                url: `/pois/${poi.poi_num}`,
                type: 'GET',
                success: function (data) { //
                    console.log('성공은 일단 성공')
                    if (data.file_name) { // 서버에서 받아온 데이터의 file_path 필드가 있는 경우
                        const imageUrl = `/uploads/${data.file_name}`; // 이미지 파일 경로
                        poiModalBody.append(
                            '<hr>',
                            $('<h6></h6>').text('대표사진').css('font-weight', 'bold'),
                            `<img src="${imageUrl}" alt="대표사진" style='width:100%; height:100%;'>`
                        );
                    } else {  // 파일 경로가 없는 경우
                        poiModalBody.append(
                            $('<div class="row"></div>').append(
                                $('<div class="col-4 fw-bold"></div>').text('대표사진'),
                                $('<div class="col-8"></div>').text('등록된 사진이 없습니다.')
                            )
                        );
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching image data:', textStatus, ', Details:', errorThrown);
                    poiModalBody.append(
                        $('<div class="row"></div>').append(
                            $('<div class="col-4 fw-bold"></div>').text('대표사진'),
                            $('<div class="col-8"></div>').text('등록된 사진이 없습니다.')
                        )
                    );
                }
            });
            $('#poiModal').modal('show');
        }


        function moveToPoi(poi) {
            // POI의 위도와 경도 좌표를 OpenLayers 지도 좌표계로 변환
            const coords = ol.proj.fromLonLat([poi.lon, poi.lat]);

            // 지도 뷰를 POI 좌표로 애니메이션 효과와 함께 이동시키고 줌 레벨을 조정
            map.getView().animate({center: coords, zoom: 19});
            moveSource.clear();
            if (categoryMarkerSource) {
                categoryMarkerSource.clear();
            }
            // POI 마커 추가
            const markerFeature = new ol.Feature({
                geometry: new ol.geom.Point(coords),
                poi_num: poi.poi_num
            });
            markerFeature.setStyle(searchMaker);
            moveSource.addFeature(markerFeature);

            // 마커 레이어 생성
            markerLayer = new ol.layer.Vector({
                source: moveSource,
                style: searchMaker
            });

            // 지도에 마커가 그려진 레이어 추가
            map.addLayer(markerLayer);

            // 이동 후 화면 가리지 않게 모달창, 사이드바 닫기
            $('#poiModal').modal('hide');
            $('#placeSearch').offcanvas('hide');
        }

        // =============================== 대분류를 불러오는 함수 =========================================
        function loadLCLASCD() {
            $.ajax({
                type: "GET",
                url: "/findDataByLCLASCD",
                success: function (response) {
                    $('#mlsfccd-select').empty().append('<option selected disabled>중분류명을 선택하세요</option>');
                    $('#sclascd-select').empty().append('<option selected disabled>소분류명을 선택하세요</option>');
                    $('#dclascd-select').empty().append('<option selected disabled>상세 분류명을 선택하세요</option>');
                    $('#bclascd-select').empty().append('<option selected disabled>브랜드 분류명을 선택하세요</option>');
                    for (let i = 0; i < response.length; i++) {
                        $("#lclascd-select").append(`<option value="${response[i].lclascd}">${response[i].lclasdc}</option>`);
                    }
                    // lclascd-select 변경시 input에 iclas 값 전달하기
                    // $("input[name='iclas']").val(response[0].lclasdc);

                    $("#lclascd-select").change(function () {
                        let selectedOption = $(this).children("option:selected");
                        $("input[name='iclas']").val(selectedOption.text());
                    });
                },
                error: function () {
                    $('#lclascd-select').append('<option value="error">데이터 로드에 실패했습니다.</option>');
                }
            });
        }

        function loadMLSFCCD(lclascdValue) {
            $.ajax({
                type: "GET",
                url: "/findDataByLCLASCDAndMLSFCCD",
                data: {lclascd: lclascdValue},
                success: function (response) {
                    // 성공시 하위 셀렉트 비우기
                    $('#mlsfccd-select').empty().append('<option selected disabled>중분류명을 선택하세요</option>');

                    $('#sclascd-select').empty().append('<option selected disabled>소분류명을 선택하세요</option>');

                    $('#dclascd-select').empty().append('<option selected disabled>상세 분류명을 선택하세요</option>');

                    $('#bclascd-select').empty().append('<option selected disabled>브랜드 분류명을 선택하세요</option>');
                    for (let i = 0; i < response.length; i++) {
                        $("#mlsfccd-select").append(`<option value="${response[i].mlsfccd}">${response[i].mlsfcdc}</option>`);
                    }

                    $("#mlsfccd-select").change(function () {
                        let selectedOption = $(this).children("option:selected");
                        $("input[name='mlsfc']").val(selectedOption.text());
                    });
                },
                error: function () {
                    $('#mlsfccd-select').append('<option value="error">데이터 로드에 실패했습니다.</option>');
                }
            });
        }

        function loadSCLASCD(lclascdValue, mlsfccdValue) {
            $.ajax({
                type: "GET",
                url: "/findByMLSFCCDAndSCLASCD",
                data: {
                    lclascd: lclascdValue,
                    mlsfccd: mlsfccdValue
                },
                success: function (response) {
                    $('#sclascd-select').empty().append('<option selected disabled>소분류명을 선택하세요</option>');

                    $('#dclascd-select').empty().append('<option selected disabled>상세 분류명을 선택하세요</option>');

                    $('#bclascd-select').empty().append('<option selected disabled>브랜드 분류명을 선택하세요</option>');
                    for (let i = 0; i < response.length; i++) {
                        $("#sclascd-select").append(`<option value="${response[i].sclascd}">${response[i].sclasdc}</option>`);
                    }

                    $("#sclascd-select").change(function () {
                        let selectedOption = $(this).children("option:selected");
                        $("input[name='sclas']").val(selectedOption.text());
                    });
                },
                error: function () {
                    $('#sclascd-select').append('<option value="error">데이터 로드에 실패했습니다.</option>');
                }
            });
        }

        function loadDCLASCD(lclascdValue, mlsfccdValue, sclascdValue) {
            $.ajax({
                type: "GET",
                url: "/findBySCLASCDAndDCLASCD",
                data: {
                    lclascd: lclascdValue,
                    mlsfccd: mlsfccdValue,
                    sclascd: sclascdValue
                },
                success: function (response) {
                    $('#dclascd-select').empty().append('<option selected disabled>상세 분류명을 선택하세요</option>');

                    $('#bclascd-select').empty().append('<option selected disabled>브랜드 분류명을 선택하세요</option>');
                    for (let i = 0; i < response.length; i++) {
                        $("#dclascd-select").append(`<option value="${response[i].dclascd}">${response[i].dclasdc}</option>`);
                    }

                    $("#dclascd-select").change(function () {
                        let selectedOption = $(this).children("option:selected");
                        $("input[name='dclas']").val(selectedOption.text());
                    });
                },
                error: function () {
                    $('#dclascd-select').append('<option value="error">데이터 로드에 실패했습니다.</option>');
                }
            });
        }

        function loadBCLASCD(lclascdValue, mlsfccdValue, sclascdValue, dclascdValue) {
            $.ajax({
                type: "GET",
                url: "/findByDCLASCDAndBCLASCD",
                data: {
                    lclascd: lclascdValue,
                    mlsfccd: mlsfccdValue,
                    sclascd: sclascdValue,
                    dclascd: dclascdValue
                },
                success: function (response) {
                    $('#bclascd-select').empty().append('<option selected disabled>브랜드 분류명을 선택하세요</option>');
                    for (let i = 0; i < response.length; i++) {
                        $("#bclascd-select").append(`<option value="${response[i].bclascd}">${response[i].bclasdc}</option>`);
                    }

                    $("#bclascd-select").change(function () {
                        let selectedOption = $(this).children("option:selected");
                        $("input[name='bclas']").val(selectedOption.text());
                    });
                },
                error: function () {
                    $('#bclascd-select').append('<option value="error">데이터 로드에 실패했습니다.</option>');
                }
            });
        }

        $('#lclascd-select').change(function () {
            loadMLSFCCD($(this).val());
            updateCategoryCode();
        });
        $('#mlsfccd-select').change(function () {
            loadSCLASCD($('#lclascd-select').val(), $(this).val());
            updateCategoryCode();
        });
        $('#sclascd-select').change(function () {
            loadDCLASCD($('#lclascd-select').val(), $('#mlsfccd-select').val(), $(this).val());
            updateCategoryCode();
        });
        $('#dclascd-select').change(function () {
            loadBCLASCD($('#lclascd-select').val(), $('#mlsfccd-select').val(), $('#sclascd-select').val(), $(this).val());
            updateCategoryCode();
        });
        $('#bclascd-select').change(function () {
            updateCategoryCode();
        });


        // categoryCode 업데이트 함수
        function updateCategoryCode() {
            let lclascdValue = parseInt($('#lclascd-select').val()) || 0;
            let mlsfccdValue = parseInt($('#mlsfccd-select').val()) || 0;
            let sclascdValue = parseInt($('#sclascd-select').val()) || 0;
            let dclascdValue = parseInt($('#dclascd-select').val()) || 0;
            let bclascdValue = parseInt($('#bclascd-select').val());

            let categoryCode = `${lclascdValue}0${mlsfccdValue}0${sclascdValue}0${dclascdValue}0${bclascdValue}`;

            $('#categoryCode').val(categoryCode);
        }

        //  user id 로 회원이 등록한 poi 조회
        function modifyloadPois(userId) {
            $.ajax({
                url: '/pois',
                success: function (data) {
                    const tbody = $('.table tbody');
                    tbody.empty();

                    $.each(data, function (index, poi) {
                        let row = $('<tr>');
                        row.append($('<td>').text(poi.poi_name));
                        row.append($('<td>').text(poi.tel_no));
                        row.append($('<td>').text(poi.address));
                        row.append($('<td>').text(poi.zip_code));
                        row.append($('<td>').text(poi.memo));

                        const button = $('<button class="btn btn-primary">수정하기</button>');
                        button.attr('data-bs-toggle', 'modal');
                        button.attr('data-bs-target', '#placeRegister');

                        button.on('click', function () {
                        });

                        let td = $('<td>');
                        td.append(button);

                        row.append(td);

                        tbody.append(row);
                    });
                }
            });
        }

        //  user id 로 회원이 등록한 poi 조회
        function deleteloadPois(userId) {
            $.ajax({
                url: '/pois',
                success: function (data) {
                    const tbody = $('.table tbody');
                    tbody.empty();

                    $.each(data, function (index, poi) {
                        let row = $('<tr>');
                        row.append($('<td>').text(poi.poi_name));
                        row.append($('<td>').text(poi.tel_no));
                        row.append($('<td>').text(poi.address));
                        row.append($('<td>').text(poi.zip_code));
                        row.append($('<td>').text(poi.memo));

                        const button = $('<button class="btn btn-danger">삭제하기</button>');
                        button.attr('data-bs-toggle', 'modal');
                        button.attr('data-bs-target', '#delete');

                        button.on('click', function () {

                        });

                        let td = $('<td>');
                        td.append(button);

                        row.append(td);

                        tbody.append(row);
                    });
                }
            });
        }

        $('#modifyButton').click(function () {
            modifyloadPois();
        });
        $('#deleteButton').click(function () {
            deleteloadPois();
        });


        $(document).ready(function () {
            init();
            searchPoi();
            // 초기에 대분류 목록을 불러옵니다.
            loadLCLASCD();
            // showPois();

            // 로그인 실패시 실행되는 jQuery
            let errorMessage = $("#valid span").text();
            if (errorMessage !== "") {
                showErrorModal(errorMessage);
            }

            // 모달 닫힐 때 에러 메시지를 지웁니다.
            $(".modal").on("hidden.bs.modal", function () {
                $("#valid span").text("");
            });

            // 오류 메시지를 모달 내에서 보여주는 함수
            function showErrorModal(message) {
                $("#valid span").text(message);
                $("#loginModal").modal("show");
            }
        });

    </script>
    <!--  회원가입 성공, 이메일 중복시 출력 메시지  -->
    <script th:inline="javascript">
        let message = [[${message}]];

        if (message) {
            alert(message);
        }
    </script>
</head>
</html>