<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>js 집합</title>

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- OpenLayers JS file -->
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <!-- Bootstrap JS file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script>
        // map 과 markerLayer 를 전역 변수로 설정
        let map;
        let markerLayer;
        let searchMaker;
        let markerStyle;

        //
        // /**
        //  * Elements that make up the popup.
        //  */
        // let container = document.getElementById('popup');
        // let content = document.getElementById('popup-content');
        // let closer = document.getElementById('popup-closer');
        // /**
        //  * Create an overlay to anchor the popup to the map.
        //  */
        // let overlay = new ol.Overlay({
        //     element: container,
        //     autoPan: true,
        //     autoPanAnimation: {
        //         duration: 250
        //     }
        // });
        //
        // /**
        //  * Add a click handler to hide the popup.
        //  * @return {boolean} Don't follow the href.
        //  */
        // closer.onclick = function () {
        //     overlay.setPosition(undefined);
        //     closer.blur();
        //     return false;
        // };
        //
        // /**
        //  * Add a click handler to the map to render the popup.
        //  */
        let mapOverlay;
        let hover = null; //마우스 이벤트에 사용될 변수


        // 팝업 변수 선언
        var hover_container = document.getElementById('popup'); //팝업 컨테이너
        var hover_content = document.getElementById('popup-content'); //팝업 내용
        function init() {
            mapOverlay = new ol.Overlay(({element: hover_container})); //Overlay 생성, 요소는 컨테이너
            // 대한민국 전체 영역 좌표 [xmin, ymin, xmax, ymax]
            const koreaExtent = [124.61, 33.06, 129, 38];
            map = new ol.Map({
                target: 'map',
                layers: [
                    // 지도에 사용할 레이어 생성 (OSM 기반 지도 레이어 사용)
                    new ol.layer.Tile({
                        source: new ol.source.OSM(),
                    }),
                ],
                overlays: [mapOverlay], //오버레이
                view: new ol.View({
                    //Web Mercator 좌표계로 변환
                    extent: ol.proj.transformExtent(koreaExtent, 'EPSG:4326', 'EPSG:3857'),
                    zoom: 7, // 초기 줌 레벨 설정
                    maxZoom: 19, // 지도 줌 레벨의 최대 값 설정
                    minZoom: 9, // 지도 줌 레벨의 최소 값 설정
                }),
            });

            // 마커를 출력할 벡터 레이어 생성
            markerLayer = new ol.layer.Vector({
                source: new ol.source.Vector(),
            });

            // 마커 레이어를 지도에 추가
            map.addLayer(markerLayer);

            // 마커 스타일 정의
            markerStyle = new ol.style.Style({
                image: new ol.style.Icon({
                    // 마커 앵커 포인트 설정 (이미지 기준 x: 50%, y: 100% 위치)
                    anchor: [0.5, 1],
                    // 마커 이미지(아이콘) URL
                    src: '/img/user_maker.png',
                }),
            });
            // 마커 스타일 정의
            searchMaker = new ol.style.Style({
                image: new ol.style.Icon({
                    // 마커 앵커 포인트 설정 (이미지 기준 x: 50%, y: 100% 위치)
                    anchor: [0.5, 1],
                    // 마커 이미지(아이콘) URL
                    src: '/img/search_maker.png',
                }),
            });

            // 현재 위치 표시
            // 브라우저에서 지오로케이션(위치정보)를 지원하는지 확인
            if ('geolocation' in navigator) {
                // 현재 위치를 가져옴
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        // 가져온 경도, 위도 좌표를 OpenLayers 지도 좌표계로 변환
                        const coords = ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude]);

                        // 현재 위치 좌표로 지점(포인트) 지오메트리를 가진 피처 생성
                        const markerFeature = new ol.Feature({
                            geometry: new ol.geom.Point(coords),
                        });

                        // 생성한 피처에 마커 스타일을 적용
                        markerFeature.setStyle(markerStyle);

                        // 피처를 마커 레이어의 소스에 추가
                        markerLayer.getSource().addFeature(markerFeature);

                        // 지도 뷰를 현재 위치로 애니메이션 효과와 함께 이동시키고 줌 레벨을 조절
                        map.getView().animate({center: coords, zoom: 14});
                    },
                    // 현재 위치를 가져오는 데 실패한 경우 에러 처리
                    (error) => {
                        console.error('Error getting geolocation', error);
                    }
                );
            } else {
                alert('이 브라우저에서는 지오로케이션을 지원하지 않습니다.');
            }

            // 지도 클릭 시, 피처가 있는지 확인하고 팝업을 표시
            map.on('pointermove', (event) => {
                // 현재 마우스 위치의 좌표를 가져옴
                const coordinate = event.coordinate;

                // 마우스 위치에 마커가 있다면 커서 스타일을 'pointer'로 변경, 그렇지 않으면 기본 스타일 사용
                map.getTargetElement().style.cursor = map.hasFeatureAtPixel(event.pixel) ? 'pointer' : '';

                let hover = null;

                // 현재 마우스 위치에서의 마커를 가져와 hover 변수에 저장
                map.forEachFeatureAtPixel(event.pixel, (feature) => {
                    hover = feature;
                    return true;
                });
                const inputProj = 'EPSG:xyz';
                const outputProj = 'EPSG:4326';

                // 마커가 있을 경우
                if (hover) {
                    const lon = hover.getGeometry().getCoordinates()[0];
                    const lat = hover.getGeometry().getCoordinates()[1];
                    const url = `/poi/hover?lon=${lon}&lat=${lat}`;
                    $.ajax({
                        url: url,
                        type: 'GET',
                        dataType: 'html',  // 응답 데이터 타입을 HTML로 지정
                        success: (data) => {
                            console.log(data);
                            // HTML 데이터를 JavaScript 객체로 파싱
                            const dataObj = $(data);
                            // 파싱한 객체에서 POI 이름과 전화번호를 가져와서 팝업 내용에 사용
                            const content = "<div class='pointeMaker'>"
                                + "간단 정보"
                                + (dataObj.find('#poi_name').text() || '1')
                                + (dataObj.find('#tel_no').text() || '1')
                                + "</div>";

                            hover_content.innerHTML = content;
                            mapOverlay.setPosition(coordinate);
                        },
                        error: (error) => {
                            console.error('Error fetching data from API', error);
                        }
                    });
                }


            })
            map.on('singleclick', function (evt) {
                let ff = map.hasFeatureAtPixel(evt.pixel);

                if (ff === true && hover) {
                    openPoiModal({
                        poi_name: hover.get('poi_name' || 'X'),
                        tel_no: hover.get('tel_no' || '-'),
                    });
                }
            });
        }


        // -------------------------------------------------------------------------
        let mapObj = null;


        function createMap() {
            let mapContainer = document.getElementById("map-container");
            // 동적으로 지도를 생성할 div 요소를 만듭니다.
            let mapElem = document.createElement("div");
            mapElem.style.width = "100%";
            mapElem.style.height = "400px";
            // 이전에 생성된 지도가 있다면 삭제합니다.
            if (mapObj) {
                mapObj.setTarget(null);
                mapObj = null;
                mapContainer.innerHTML = "";
            }
            mapContainer.append(mapElem);
            // 새로운 지도 객체를 생성합니다.
            mapObj = new ol.Map({
                target: mapElem,
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM(),
                    }),
                ],
                overlays: [overlay],
                view: new ol.View({
                    center: ol.proj.fromLonLat([126.985302, 37.566671]),
                    zoom: 11
                })
            });
        }

        <!-- 사이드바 안에서 엔터 키로 검색을 했을 때 화면에 값 넘기기 -->
        $(document).keydown(function (e) {
            if (e.target.id === 'searchInput' && e.keyCode === 13) {
                e.preventDefault();
                $('[data-bs-target="#placeName"]').click();
            }
        });

        // 자동으로 지워주는 jQuery
        $('#loginModal').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        });
        $('#signupModal').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        });
        $('#userModify').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        });
        $('#placeDelete').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })
        $('#placeRegister').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })
        $('#placeModify').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })
        // 버튼에 클릭 이벤트 리스너를 등록합니다.
        $("#placeRegisterBtn").on("click", function () {
            createMap();
        });


        function showPois() {
            // AJAX 요청을 이용하여 서버로부터 POI 데이터를 비동기적으로 요청합니다.
            $.ajax({
                type: "GET", // HTTP GET 요청 메서드를 사용합니다.
                url: "/poi", // 요청할 URL 주소입니다.
                success: function (data) { // 성공적인 요청 시의 콜백 함수입니다.
                    var features = []; // 배열을 생성합니다.
                    // POI 데이터 배열에 대해 반복합니다.
                    data.forEach(function (poi) {
                        var feature = new ol.Feature({ // 새로운 Feature 객체를 만듭니다.
                            // POI의 좌표를 이용하여 새로운 Point 객체를 생성합니다.
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([poi.lon, poi.lat])),
                            // POI 이름을 갖는 속성 값을 추가합니다.
                            name: poi.poi_name
                        });
                        features.push(feature); // 생성한 Feature 객체를 배열에 추가합니다.
                    });
                    addMarkersToMap(features); // addMarkersToMap 함수에 Feature 배열을 넘겨 마커를 추가합니다.
                },
                error: function (jqXHR, textStatus, errorThrown) { // 요청이 실패한 경우의 콜백 함수입니다.
                    console.error("Failed to load POIs: " + textStatus + " " + errorThrown);
                }
            });
        }

        function addMarkersToMap(features) {
            // 마커 스타일 설정
            var markerStyle = new ol.style.Style({
                image: new ol.style.Icon({
                    opacity: 1,
                    scale: 1.2,
                    src: 'http://map.vworld.kr/images/ol3/marker_blue.png'
                }),
                zindex: 10
            });

            // 마커 레이어에 들어갈 소스 생성
            var markerSource = new ol.source.Vector({
                features: features
            });

            // 마커 레이어 생성
            var markerLayer = new ol.layer.Vector({
                source: markerSource,
                style: markerStyle
            });

            // 지도에 마커가 그려진 레이어 추가
            map.addLayer(markerLayer);
        }

        // ------------------------------------------------------------
        function searchPoi() {
            const searchTerm = $('#searchInput').val();
            // 값이 비어있을 때 모든 데이터가 출력되지 않기 위한 조건문
            if (!searchTerm.trim()) {
                return;
            }

            $.ajax({
                url: `/poi/search?name=${searchTerm}`,
                type: 'GET',
                success: function (data) {
                    const poiList = $('#poi-list');
                    poiList.empty();
                    $.each(data, function (index, poi) {
                        const itemContainer = $('<div>').addClass('poi-item');

                        const poiInfo = $('<span>').text(`${poi.poi_name} `);
                        itemContainer.append(poiInfo);

                        const detailButton = $('<button>')
                            .text('상세보기')
                            .addClass('btn btn-sm btn-outline-info ms-2')
                            .click(function () {
                                openPoiModal(poi);
                            });
                        itemContainer.append(detailButton);

                        poiList.append(itemContainer);
                    });
                },
                error: function (error) {
                    console.error('Error fetching data from API', error);
                }
            });
        }


        // openPoiModal() 함수 추가
        function openPoiModal(poi) {
            const poiModalBody = document.getElementById('poiModalBody');
            poiModalBody.innerHTML = `
        <div class="row">
            <div class="col-4 fw-bold">장소 이름</div>
            <div class="col-8">${poi.poi_name}</div>
            <div class="col-4 fw-bold">위치</div>
            <div class="col-8"><button class="btn btn-outline-warning btn-sm" onclick="moveToPoi(${poi.lat}, ${poi.lon})">이동하기</button></div>
        </div>
        <hr>
        <div class="row">
            <h6>상세 정보</h6>
            <div class="col-4 fw-bold">전화번호</div>
            <div class="col-8">${poi.tel_no || '-'}</div>
            <div class="col-4 fw-bold">대분류</div>
            <div class="col-8">${poi.iclas}</div>
            <div class="col-4 fw-bold">중분류</div>
            <div class="col-8">${poi.mlsfc || '-'}</div>
            <div class="col-4 fw-bold">소분류</div>
            <div class="col-8">${poi.sclas || '-'}</div>
            <div class="col-4 fw-bold">상세분류</div>
            <div class="col-8">${poi.dclas || '-'}</div>
            <div class="col-4 fw-bold">설명</div>
            <div class="col-8">${poi.memo || '-'}</div>
            <div class="col-4 fw-bold">대표사진</div>
            <div class="col-8">${poi.memo || '-'}</div>

        </div>
    `;
            $('#poiModal').modal('show');
        }

        function moveToPoi(lat, lon) {
            // POI의 위도와 경도 좌표를 OpenLayers 지도 좌표계로 변환
            const coords = ol.proj.fromLonLat([lon, lat]);

            // 지도 뷰를 POI 좌표로 애니메이션 효과와 함께 이동시키고 줌 레벨을 조정
            map.getView().animate({center: coords, zoom: 19});

            // POI 마커 추가
            const markerFeature = new ol.Feature({
                geometry: new ol.geom.Point(coords),
            });
            markerFeature.setStyle(searchMaker);
            markerLayer.getSource().addFeature(markerFeature);
            // 이동 후 화면 가리지 않게 모달창, 사이드바 닫기
            $('#poiModal').modal('hide');
            $('#placeSearch').offcanvas('hide');
        }

        $(document).ready(function () {
            init();
            searchPoi();
        });

    </script>
</head>
</html>