<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>js 집합</title>

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- OpenLayers JS file -->
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.4.0/dist/ol.js"></script>

    <!-- Bootstrap JS file -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:inline="javascript">
        let map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM({
                        url: 'https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png'
                    })
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([126.985302, 37.566671]),
                zoom: 11
            })
        });
        $(document).ready(function () {

            // 로그인 버튼 클릭 시 모달창 띄우기
            $("#loginBtn").click(function () { // 내가 왜 모달창을 jquery 로 하려고 했찌?
                $("#loginModal").modal('show');
            });
        });
    </script>

    <script>
        var mapObj = null;

        // 버튼 클릭 이벤트 핸들러 함수
        function createMap() {
            var mapContainer = document.getElementById("map-container");

            // 동적으로 지도를 생성할 div 요소를 만듭니다.
            var mapElem = document.createElement("div");
            mapElem.style.width = "100%";
            mapElem.style.height = "400px";

            // 이전에 생성된 지도가 있다면 삭제합니다.
            if (mapObj) {
                mapObj.setTarget(null);
                mapObj = null;
                mapContainer.innerHTML = "";
            }

            mapContainer.append(mapElem);

            // 새로운 지도 객체를 생성합니다.
            mapObj = new ol.Map({
                target: mapElem,
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM({
                            wrapX: false
                        })
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([126.985302, 37.566671]),
                    zoom: 11
                })
            });
        }

        // 버튼에 클릭 이벤트 리스너를 등록합니다.
        document.getElementById("createMapBtn").addEventListener("click", createMap);
    </script>

</head>
<body>

</body>
</html>