<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>navBar</title>
</head>
<body>
<!--상단 고정 바-->
<th:block th:fragment="layout_navBar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">OJT 프로젝트</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- 장소 검색 버튼 -->
                    <button class="btn btn-outline-success" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#placeSearch"
                            aria-controls="offcanvasScrolling">장소 검색
                    </button>
                    <!-- 길찾기버튼 -->
                    <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->
                    <button class="btn btn-outline-success" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#roadSearch"
                            aria-controls="offcanvasScrolling">길 찾기
                    </button>
                </ul>
            </div>

            <button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling"
                    aria-controls="offcanvasScrolling">내 정보
            </button>
            <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->
            <button class="btn btn-outline-info" type="button" data-bs-toggle="modal" th:data-bs-target="'#loginModal'">
                로그인
            </button>
            <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->
            <button class="btn btn-outline-info" type="button" data-bs-toggle="modal"
                    th:data-bs-target="'#signupModal'">
                회원가입
            </button>
        </div>
    </nav>


    <!-- 로그인 Modal -->
    <div class="container">
        <div class="modal fade" th:id="loginModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <h5 class="modal-title">
                            로그인
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="#" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>이메일</label>
                                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                       class="form-control"
                                       th:name="email" required>
                            </div>
                            <div class="form-group">
                                <label>비밀번호</label>
                                <input type="password"
                                       class="form-control" th:name="password" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">로그인</button>
                        </div>
                    </form>
                    <hr>
                    <!-- 버튼 클릭 시 회원가입 모달창 열기 -->
                    <div style="text-align:center;">
                        <button class="btn btn-link" type="button" th:data-bs-toggle="'modal'"
                                th:data-bs-target="'#signupModal'">
                            회원가입 하기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 회원 가입 Modal -->
    <div class="container">
        <div class="modal fade" th:id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="signupModalLabel">
                            회원가입
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="#" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>이름</label>
                                <input type="text" pattern="[A-Za-z가-힣]{2,}" class="form-control"
                                       th:name="name"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>나이</label>
                                <input type="text" pattern="^[0-9]+$" class="form-control" th:name="age"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>이메일</label>
                                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                       class="form-control"
                                       th:name="email" required>
                            </div>
                            <div class="form-group">
                                <label>비밀번호</label>
                                <input type="password"
                                       class="form-control" th:name="password" required>
                            </div>
                            <div class="form-group">
                                <label>비밀번호 확인</label>
                                <input type="password" class="form-control" th:name="password" required>
                            </div>
                            <div class="form-group">
                                <label>전화번호</label>
                                <input type="tel" class="form-control" th:name="phone" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">회원가입</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>