<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>sideBar</title>
</head>
<body>
<th:block th:fragment="layout_sideBar">

    <!-- 내 정보 사이드바 -->
    <div class="offcanvas offcanvas-start" tabindex="-1" th:id="offcanvasScrolling"
         aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <img src="/img/my_page_man.png" alt="사람 이미지">
            <h5 class="offcanvas-title" th:text="회원정보">회원정보</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button id="placeRegisterBtn" class="btn btn-outline-secondary d-block text-start my-1" type="button"
                        data-bs-toggle="modal"
                        th:data-bs-target="'#placeRegister'">신규 장소 등록
                </button>

                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->
                <button id="modifyButton" class="btn btn-outline-secondary d-block text-start my-1" type="button"
                        data-bs-toggle="modal"
                        th:data-bs-target="'#placeModify'">
                    장소 수정
                </button>

                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button id="deleteButton" class="btn btn-outline-danger d-block text-start my-1" type="button"
                        data-bs-toggle="modal"
                        th:data-bs-target="'#placeDelete'">장소 삭제
                </button>
                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button id="routeButton" class="btn btn-outline-secondary d-block text-start my-1" type="button"
                        data-bs-toggle="modal"
                        th:data-bs-target="'#pathCheck'">
                    저장한 경로 확인하기
                </button>
                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->
            </div>
            <hr>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                <button class="btn btn-outline-success d-block text-start my-1" type="button" data-bs-toggle="modal"
                        th:data-bs-target="'#userModify'">
                    회원 정보 수정
                </button>

                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button class="btn btn-outline-danger d-block text-start my-1" type="button" data-bs-toggle="modal"
                        th:data-bs-target="'#'">로그 아웃
                </button>


            </div>
        </div>
    </div>
    <!-- 내 정보 사이드바 끝 -->

    <!-- Modal 창 시작 -->

    <!-- 저장한 경로 확인하기 Modal -->
    <div class="container">
        <div class="modal fade" id="pathCheck" tabindex="-1" aria-labelledby="pathCheckLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <h5 class="modal-title" id="pathCheckLabel">저장한 경로 확인하기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 테이블에 부트스트랩 적용 -->
                        <table class="table">
                            <thead class="table-dark" style="text-align: center; white-space: nowrap">
                            <tr>
                                <th>제목</th>
                                <th>출발지</th>
                                <th>도착지</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 장소 수정 Modal -->
    <div class="container">
        <div class="modal fade" id="placeModify" tabindex="-1" aria-labelledby="placeModifyLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <h5 class="modal-title" id="placeModifyLabel">
                            장소 수정
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- 테이블에 부트스트랩 적용 -->
                    <table class="table">
                        <thead class="table-dark"
                               style="text-align: center">
                        <tr>
                            <th>장소 이름</th>
                            <th>대표 번호</th>
                            <th>주소</th>
                            <th>우편번호</th>
                            <th>메모</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 장소 등록 Modal -->
    <div class="container">
        <div class="modal fade" th:id="placeRegister">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <h5 class="modal-title">
                            장소 등록
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form action="/register" method="post" enctype="multipart/form-data">
                            <div style="max-height: 444px; overflow-y: auto">
                                <br>
                                <div class="mb-3">
                                    <label for="placeName">장소이름</label>
                                    <input type="text" class="form-control" id="placeName" name="poi_name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="gen">대표 번호</label>
                                    <input type="text" class="form-control" id="gen" name="tel_no" required
                                           pattern="\d{3}-\d{4}-\d{4}">
                                </div>
                                <div class="spacer"></div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text">대분류</label>
                                    <select class="form-select" id="lclascd-select">
                                        <option selected disabled>대분류명을 선택하세요</option>
                                    </select>
                                    <input type="hidden" name="iclas">
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text">중분류</label>
                                    <select class="form-select" id="mlsfccd-select">
                                    </select>
                                    <input type="hidden" name="mlsfc">
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text">소분류</label>
                                    <select class="form-select" id="sclascd-select">
                                    </select>
                                    <input type="hidden" name="sclas">
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text">상세 분류</label>
                                    <select class="form-select" id="dclascd-select">
                                    </select>
                                    <input type="hidden" name="dclas">
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text">브랜드 카테고리</label>
                                    <select class="form-select" id="bclascd-select">
                                    </select>
                                    <input type="hidden" name="bclas">
                                </div>
                                <div class="mb-3">
                                    <label for="file">이미지 첨부</label>
                                    <input type="file" class="form-control" accept=".jpg, .png" id="file" name="file">
                                </div>
                                <div class="mb-3">
                                    <label for="memo">메모</label>
                                    <input type="text" class="form-control" id="memo" name="memo"
                                           placeholder="간단한 설명을 작성해주세요.">
                                </div>
                                <div class="mb-3">
                                    <label for="address">주소</label>
                                    <input type="text" class="form-control" id="address" name="address"
                                           placeholder="지도 클릭시 주소명이 나옵니다." readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="zip_code">우편번호</label>
                                    <input type="text" class="form-control" id="zip_code" name="zip_code"
                                           placeholder="지도 클릭시 우편 번호가 나옵니다." readonly>
                                </div>
                                <div class="spacer"></div>
                                <div id="map-container"></div>
                            </div>
                            <input type="hidden" id="categoryCode" name="category_code" value="0">
                            <input type="hidden" id="lon" name="lon" value="0">
                            <input type="hidden" id="lat" name="lat" value="0">

                            <div class="modal-footer fixed-buttons">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                <button type="submit" class="btn btn-primary">등록하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 장소 삭제 Modal -->
    <div class="container">
        <div class="modal fade" id="placeDelete" tabindex="-1" aria-labelledby="placeDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <h5 class="modal-title" id="placeDeleteLabel">
                            장소 삭제
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- 테이블에 부트스트랩 적용 -->
                    <table class="table">
                        <thead class="table-dark"
                               style="text-align: center">
                        <tr>
                            <th>장소 이름</th>
                            <th>대표 번호</th>
                            <th>주소</th>
                            <th>우편번호</th>
                            <th>메모</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 회원 수정 Modal -->
    <div class="container">
        <div class="modal fade" id="userModify" tabindex="-1" aria-labelledby="userModifyLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userModifyLabel">
                            회원 정보 수정하기
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="#" method="post">
                        <div class="modal-body">
                            <div class="form-group mb-3">
                                <label>이름</label>
                                <input type="text" pattern="[A-Za-z가-힣]{2,}" class="form-control"
                                       name="name"
                                       required>
                            </div>
                            <div class="form-group mb-3">
                                <label>나이</label>
                                <input type="text" pattern="^[0-9]+$" class="form-control" name="age"
                                       required>
                            </div>
                            <div class="form-group mb-3">
                                <label>이메일</label>
                                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                       class="form-control"
                                       id="email1" name="email" required>
                            </div>
                            <div class="form-group mb-3">
                                <label>비밀번호</label>
                                <input type="password"
                                       class="form-control" id="password1" name="password" required>
                            </div>
                            <div class="form-group mb-3">
                                <label>비밀번호 확인</label>
                                <input type="password" class="form-control" id="password2" name="password" required>
                            </div>
                            <div class="form-group mb-3">
                                <label>전화번호</label>
                                <input type="tel" class="form-control" name="phone" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">수정하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 경로 상세정보 모달 컴포넌트 -->
    <div class="modal fade" id="routeModal" tabindex="-1" aria-labelledby="routeModalLabel" aria-hidden="true"
         data-bs-backdrop="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="routeModalLabel">상세정보</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="routeModalBody">
                    <!--상세정보 입력-->
                </div>
            </div>
        </div>
    </div>
    <!-- 경로 저장 Modal -->
    <div class="container">
        <div class="modal fade" id="routeSave" tabindex="-1" aria-labelledby="routeSaveLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="routeSaveLabel">
                            경로 저장
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="/routes/register" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group mb-3">
                                <label for="title">제목</label>
                                <input type="text" class="form-control" id="title" name="title" required>

                            </div>
                            <div class="form-group mb-3">
                                <label for="explain">설명</label>
                                <input type="text" class="form-control" id="explain" name="explain"
                                       required>
                            </div>
                            <div class="form-group mb-3">
                                <label>경로</label>
                                <input type="text" class="form-control" name="route"
                                       required>
                            </div>
                            <div class="form-group mb-3">
                                <label>출발지</label>
                                <input type="text" class="form-control" name="start"
                                       readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label>도착지</label>
                                <input type="text" class="form-control" name="end_point"
                                       readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label>경유지</label>
                                <input type="text" class="form-control" name="waypoints"
                                       readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label>톨게이트 비용</label>
                                <input type="text" class="form-control" name="tollFare"
                                       readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label>택시비용 </label>
                                <input type="text" class="form-control" name="taxiFare"
                                       readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label>연료 가격</label>
                                <input type="text" class="form-control" name="fuelPrice"
                                       readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label for="file2">이미지 첨부</label>
                                <input type="file" class="form-control" accept=".jpg, .png" id="file2" name="file2">
                            </div>
                            <div class="form-group mb-3">
                                <label>경유지 좌표값</label>
                                <input type="text" class="form-control" name="waypoints_route"
                                       readonly>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">저장하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 창 끝 -->

    <!-- 검색 했을 때 사이드바 -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="placeSearch" aria-labelledby="placeSearchLabel">
        <div class="offcanvas-header">
            <img src="/img/placeSearch.png" alt="검색장소">
            <h5 class="offcanvas-title" style="margin-right: 20px" id="placeSearchLabel">장소 검색</h5>
            <button type="button" class="btn-close text-reset" id="placeSearchButton"></button>
        </div>
        <hr>

        <!-- 사이드바 안에서 검색창 -->
        <form class="d-flex mb-3" role="search">
            <input class="form-control mx-auto me-2" id="searchInput" type="text" placeholder="검색어를 입력하세요"
                   aria-label="검색" style="width: 300px;">
            <button class="btn btn-outline-success mx-auto me-2" type="button"
                    onclick="searchPoi()"
                    data-bs-target="#placeName"
                    aria-controls="offcanvasScrolling">검색
            </button>
        </form>
        <div class="offcanvas-body">
            <div id="searchResults">
                <p>검색 결과:</p>
                <div id="poi-list"></div>
            </div>
        </div>
    </div>

    <!--    --------------------------------  -->
    <!-- poi 상세정보 모달 컴포넌트 -->
    <div class="modal fade" id="poiModal" tabindex="-1" aria-labelledby="poiModalLabel" aria-hidden="true"
         data-bs-backdrop="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="poiModalLabel">상세정보</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="poiModalBody">
                    <!--상세정보 입력-->
                </div>
            </div>
        </div>
    </div>
    <!-- 검색 했을 때 사이드바 끝 -->

    <!-- 길 찾기 offcanvas -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="roadSearch" aria-labelledby="roadSearchLabel">
        <div class="offcanvas-header">
            <img src="/img/road_find.png" alt="길찾기">
            <h5 class="offcanvas-title" style="margin-right: 20px" id="roadSearchLabel">길 찾기</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr>
        <!-- 사이드바 안에서 검색창 -->
        <div class="container">
            <form id="naverMapForm" class="mb-3">
                <div class="form-group">
                    <label for="start" class="form-label">출발지</label>
                    <input type="text" class="form-control" id="start">
                    <!-- 출발지 위도, 경도 저장 -->
                    <input type='hidden' id='startLon' name='start'>
                </div>
                <div class="form-group">
                    <label for="end_point" class="form-label">도착지</label>
                    <input type="text" class="form-control" id=end_point>
                    <!-- 도착지 위도, 경도 저장 -->
                    <input type='hidden' id='endLon' name='end'>
                </div>
                <div class="form-group">
                    <label for="waypoints" class="form-label">경유지</label>
                    <input type="text" class="form-control" id=waypoints>
                    <!-- 경유지 위도, 경도 저장 -->
                    <input type='hidden' id='waypointsLon' name='waypoints'>
                </div>
                <button type="submit" class="btn btn-outline-success">길찾기</button>
                <button type='button' class='btn btn-outline-info js-route-save-btn d-none'
                        th:data-bs-target="'#routeSave'"
                        data-bs-toggle="modal"
                        th:if="${#request.isUserInRole('USER')}">경로 저장
                </button>

                <!--<button type="button" class="btn btn-outline-warning" id="addWaypoint">경로 추가</button>-->
            </form>
        </div>
        <hr>

        <div class="offcanvas-body">
            <p id="roadResult">검색 결과가 여기에 표시됩니다.</p>
        </div>
    </div>

    <!--=============================== 어드민 ============================== -->
    <!-- 관리자 장소 수정 Modal -->
    <div class="container">
        <div class="modal fade" id="AllUserplaceModify" tabindex="-1" aria-labelledby="placeModifyLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <h5 class="modal-title" id="AllUserplaceModifyLabel">
                            모든 회원 장소 관리
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>


                    <div class="modal-body">
                        <table class="table">
                            <thead class="table-dark"
                                   style="text-align: center">
                            <tr>
                                <th>유저 id</th>
                                <th>장소 이름</th>
                                <th>대표 번호</th>
                                <th>주소</th>
                                <th>우편번호</th>
                                <th>메모</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</body>
</html>