<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>sideBar</title>
</head>
<body>
<th:block th:fragment="layout_sideBar">

    <!-- 사이드바 -->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
         th:id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <img src="/img/my_page_man.png" alt="사람 이미지">
            <h5 class="offcanvas-title" th:text="회원정보">회원정보</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button class="btn btn-outline-secondary  d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#placeRegister'">신규 장소 등록
                </button>

                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button class="btn btn-outline-secondary d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#placeModify'">
                    장소 수정
                </button>

                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button class="btn btn-outline-danger  d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#placeDelete'">장소 삭제
                </button>
                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button class="btn btn-outline-secondary d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#pathCheck'">
                    저장한 경로 확인하기
                </button>

                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button class="btn btn-outline-secondary  d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#goHome'">
                    <a class="nav-link active" aria-current="page" href="/">지도 홈으로 돌아가기</a>
                </button>
            </div>
            <hr>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                <button class="btn btn-outline-success d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#userModify'">
                    회원 정보 수정
                </button>

                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button class="btn btn-outline-danger  d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#'">로그 아웃
                </button>
            </div>
        </div>
    </div>

    <!-- 장소 등록 Modal -->
    <div class="container">
        <div class="modal fade" th:id="placeRegister">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <h5 class="modal-title">
                            장소 등록
                        </h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="#" method="post">
                        <!-- 이곳에 폼 값 추가하기 -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label>장소이름</label>
                                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                       class="form-control"
                                       th:name="email" required>
                            </div>
                            <div class="form-group">
                                <label>위치</label>
                                <input type="password"
                                       class="form-control" th:name="password" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">등록하기</button>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <!-- 장소 수정 Modal -->
    <div class="container">
        <div class="modal fade" th:id="placeModify">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <h5 class="modal-title">
                            장소 수정
                        </h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="#" method="post">
                        <!-- 이곳에 폼 값 추가하기 -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label>장소이름</label>
                                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                       class="form-control"
                                       th:name="email" required>
                            </div>
                            <div class="form-group">
                                <label>위치</label>
                                <input type="password"
                                       class="form-control" th:name="password" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">수정하기</button>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <!-- 장소 삭제 Modal -->
    <div class="container">
        <div class="modal fade" th:id="placeDelete">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <h5 class="modal-title">
                            장소 삭제
                        </h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="#" method="post">
                        <!-- 이곳에 폼 값 추가하기 -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label>장소이름</label>
                                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                       class="form-control"
                                       th:name="email" required>
                            </div>
                            <div class="form-group">
                                <label>위치</label>
                                <input type="password"
                                       class="form-control" th:name="password" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-danger">삭제하기</button>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <!-- 저장 경로 확인 Modal -->
    <div class="container">
        <div class="modal fade" th:id="pathCheck">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <h5 class="modal-title">
                            저장된 경로 확인하기
                        </h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- 테이블에 부트스트랩 적용 -->
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>설명</th>
                            <th>날짜</th>
                            <th>상세 보기</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>출근하는 길</td>
                            <td>류인태</td>
                            <td>좌회전 차선이 막히면 우회전 후 U턴 하기</td>
                            <td>2022-01-01</td>
                            <td>
                                <!-- 부트스트랩 버튼 적용 -->
                                <button class="btn btn-primary" onclick="showDetails(1)">상세보기</button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>집가는 길</td>
                            <td>류인태</td>
                            <td>강동 방면으로 빠지기</td>
                            <td>2022-01-05</td>
                            <td>
                                <button class="btn btn-primary" onclick="showDetails(2)">상세보기</button>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>운동 가는 길</td>
                            <td>류인태</td>
                            <td>어린이 보호구역이 많음</td>
                            <td>2022-01-10</td>
                            <td>
                                <button class="btn btn-primary" onclick="showDetails(3)">상세보기</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 회원 수정 Modal -->
    <div class="container">
        <div class="modal fade" th:id="userModify">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            회원 정보 수정하기
                        </h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="#" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">이름</label>
                                <input type="text" pattern="[A-Za-z가-힣]{2,}" class="form-control" id="name"
                                       th:name="name"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="age">나이</label>
                                <input type="text" pattern="^[0-9]+$" class="form-control" id="age" th:name="age"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>이메일</label>
                                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                       class="form-control"
                                       id="email1" th:name="email" required>
                            </div>
                            <div class="form-group">
                                <label>비밀번호</label>
                                <input type="password"
                                       class="form-control" id="password1" th:name="password" required>
                            </div>
                            <div class="form-group">
                                <label>비밀번호 확인</label>
                                <input type="password" class="form-control" id="password2" th:name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">전화번호</label>
                                <input type="tel" class="form-control" id="phone" th:name="phone" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">회원가입</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>