<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>sideBar</title>
</head>
<body>
<th:block th:fragment="layout_sideBar">

    <!-- 사이드바 -->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
         th:id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <img src="/img/my_page_man.png" alt="사람 이미지">
            <h5 class="offcanvas-title" th:text="회원정보">회원정보</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button class="btn btn-outline-secondary  d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#loginModal'">신규 장소 등록
                </button>
                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button class="btn btn-outline-secondary d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#signupModal'">
                    장소 수정
                </button>
                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button class="btn btn-outline-secondary  d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#loginModal'">장소 삭제
                </button>
                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button class="btn btn-outline-secondary d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#signupModal'">
                    저장한 경로 확인하기
                </button>
                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button class="btn btn-outline-secondary  d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#loginModal'">지도 홈으로 돌아가기
                </button>
            </div>
            <hr>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                <button class="btn btn-outline-success d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#signupModal'">
                    회원 정보 수정
                </button>
                <div class="spacer"></div> <!-- 간격을 띄우기 위한 빈 div 엘리먼트 -->

                <button class="btn btn-outline-danger  d-block text-start my-1" type="button" data-toggle="modal"
                        th:data-target="'#loginModal'">로그 아웃
                </button>
            </div>
        </div>
    </div>
    <!-- 로그인 Modal -->
    <div class="container">
        <div class="modal fade" th:id="loginModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <h5 class="modal-title">
                            로그인
                        </h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="#" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="email">이메일</label>
                                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                       class="form-control"
                                       id="email" th:name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">비밀번호</label>
                                <input type="password"
                                       class="form-control" id="password" th:name="password" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">로그인</button>
                        </div>
                    </form>
                    <hr>
                    <!-- 버튼 클릭 시 회원가입 모달창 열기 -->
                    <div style="text-align:center;">
                        <button class="btn btn-link" type="button" th:data-toggle="'modal'"
                                th:data-target="'#signupModal'">
                            회원가입 하기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>